{% extends 'base.html' %}

{% block content %}

<div class="row">
	<div class="col-1">
		<img src="{{ product.icon.url }}" class="img-fluid"/>
	</div>
	<div class="col-11">
		<a href="{{ product.url }}"><h1>{{ product.title }}</h1></a>
	</div>
</div>

<div class="row">
	<div class="col-8">
		<img src="{{ product.image.url }}" class="img-fluid"/>
	</div>
	<div class="col-4">
		{% if not restrict %}
		<a href="javascript:{document.getElementById('upvote').submit()}">
			<button class="btn btn-primary btn-block btn-lg"><span class="fas fa-angle-up"></span> Upvote {{ product.votes_total }}</button>
		</a>
		{% else %}
		<a href="javascript:{document.getElementById('upvote').submit()}">
			<button disabled class="restrict btn btn-primary btn-block btn-lg"><span class="fas fa-angle-up"></span> Upvote {{ product.votes_total }}</button>
		</a>
		<b>{{ restrict }}</b>
		{% endif %}
	</div>
</div>

<div class="row">
	<div class="col-4">
		<h4><span class="fas fa-search"></span> Hunted by {{ product.hunter.username }}</h4>
	</div>
	<div class="col-4 text-right">
		<h4><span class="far fa-clock"></span> {{ product.pub_date_pretty }}</h4>
	</div>
</div>

<div class="row">
	<div class="col-8">
		<p>{{ product.body }}</p>
	</div>
</div>

<form id='upvote' method="POST" action="{% url 'upvote' product.id %}">
	{% csrf_token %}
	<input type="hidden">
</form>

{% endblock %}